/.terraform/
*.tfstate
.tfstate.
.tfplan
crash.log

pycache/
*.pyc
*.pyo
*.pyd
.venv/
.env

/.dockerignore

.aws-sam/
sam-installation/
aws-sam-cli-linux-.zip
aws-sam-cli-linux-x86_64.zip
infra-s3/.terraform/
infra-cloudwatch/.terraform/
