name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'sentiment-docker/**'
      - '.github/workflows/docker-dockerhub.yml'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/sentiment-docker

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        run: |
          cd sentiment-docker
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:${GITHUB_SHA::7} .

      - name: Push Docker image (latest)
        run: |
          docker push $IMAGE_NAME:latest

      - name: Push Docker image (commit tag)
        run: |
          docker push $IMAGE_NAME:${GITHUB_SHA::7}
